@font-face {
	font-family: CustomPixelFont;
	src: url(../fonts/font.woff);
}

.minecraft {
	font-family: CustomPixelFont;
}
.minecraftbold {
	font-family: CustomPixelFont;
	font-weight: 800;
	font-size: 2rem !important;
}
.minecraftitalic {
	font-family: CustomPixelFont;
	font-style: italic;
}
.minecraftibold {
	font-family: CustomPixelFont;
	font-weight: 800;
	font-style: italic;
}
.minecraftunderline {
	text-decoration: underline;
}
.minecraftustrike {
	text-decoration: underline line-through;
}
.minecraftstrike {
	text-decoration: line-through;
}

#outputText {
	padding: 0.5rem;
	display: block;
	font-size: 0.8rem;
	color: #333;
	word-break: break-all;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 10px;
	white-space: pre-wrap;
	font-family: 'CustomPixelFont';
	height: 100px !important;
	cursor: pointer;
}

#coloredNick {
	font-size: 2rem;
	word-break: break-all;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/preview.jpg);
	background-color: #333;
	background-position: left bottom;
	/* background-size: cover; */
	padding-left: 0.5rem !important;
}

#error {
	margin: 0;
	font-size: small;
	color: red;
}

label {
	font-weight: 600;
	padding: 0 !important;
}

#graylabel2 {
	font-size: small;
	color: #999;
	font-weight: bold;
}

#outputBox > .container-fluid > .row > * {
	padding: 0;
}

#outputBox > .container-fluid > .row {
	padding-bottom: 0.5rem;
}
